<!DOCTYPE html>
<html lang="en" ng-app="iasApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="app/css/index.css">
    <script src="app/js/index.js"></script>
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/angular.js"></script>
    <script src="app/js/angular-ui-router.min.js"></script>
    <script src="app/js/route.js"></script>
    <script src="app/js/controllers.js"></script>
</head>
<body class="body">
 
    <div class="ias" ng-controller="iasCtrl">
        <header class="head">
            <div class="headerItem logo">
                <b>
                    ULSTEIN IAS&copy;
                </b>
            </div>
            <div class="headerItem displaybar-menu">
                <div class="displaybar">displaybar</div>
                <ul class="system-category">
                    <li ng-repeat="(key,val) in systemCategory"  class="category-item">
                        <a href="" class="category-item-name">{{key}}</a>
                        <ul class="system-items">
                            <li class="system-item" ui-sref="{{sys.state}}" ng-repeat="sys in val">{{sys.sys}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="headerItem alarms">
                <div class="alarm-count lf">
                    Alarms
                    <br>
                    (417)
                </div>
                <div class="alarm-select lf">
                    <i class="alarm-select-head">s</i>
                    <ul class="alarm-items">
                        <li class="alarm-item">Alarms</li>
                        <li class="alarm-item">Inhibited Alarms</li>
                        <li class="alarm-item">Historical Alarms</li>
                    </ul>
                </div>
            </div>
            <div class="headerItem silence">
                <div class="silence-btn">Silence</div>
                <div class="EB-select">
                    <span class="lf">ECR</span>
                    <span class="rt">Bridge</span>
                </div>
            </div>
            <div class="headerItem time-design">
                <div class="system-time">LT&nbsp;{{systemTime | date:'yyyy-MM-dd hh:mm:ss'}}</div>
                <div class="design">Design</div>
            </div>
        </header>
        <div class="main-window">
            <div ui-view></div>
        </div>
        <footer class="foot">

        </footer>
    </div>

</body>
</html>