//单页通用模板
.title-tag{
  width: 260px;
  background-color: @theme-color;
  height:40px;
  border: 1px solid #aaa;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color:#c0c0c0;
  font-size: 16px;
  position:relative;
  top:3px;
  left:3px;
}
.back-ahead{
  .border{
    border:2px solid #606060;
    padding:5px;
    &:hover{
      background-color:#aaa;
    }
    &:active{
      background-color: @theme-color;
    }
  }
  float: right;
  margin-right:15px;
  margin-top:15px;
  .back{
    .border;
    padding-right: 10px;
  };
  .ahead{
    .border;
    padding-left: 10px;
  }
}
//舱室液位信息指令
.tank{
  display:inline-block;
  padding:3px;
  width:115px;
  height:115px;
  border:2px solid #000;
  background-color:#A0A0A0;
  position:absolute;
  .tank-number{
    padding:2px;
    border-bottom:1px solid #000;
    background-color:#606060;
  }
  .xx{
    .tank-number;
  }
  .capacity-detail{

    .capacity-item{
      margin:3px 0;
      span{
        display: inline-block;
        width:80%;
        background-color: #000;
        text-align: right;
        padding-right: 5px;
        color:#00C000;
      }
      .height-level,.low-level,.is-alarm{
        display: inline-block;
        width:15px;
        height:15px;
        border:1px solid #fff;
        border-radius: 50%;
        background-color: transparent;
      }
      .is-alarm{
        border-radius: 0;
      }
      .height-level.active,.low-level.active,.is-alarm.active{
        background-color: @active-alarm-color;
      }
    }
  }
}





//泵组件样式
.pump-component{
  position: absolute;
  //border: 1px solid red;
  top:300px;
  left:40px;
  .pressure-display{
    position:absolute;
    top:-16px;
    left:0px;
    width:150%;
  }
  .pump-controll-pannel{
    position:absolute;
    width:250px;
    height:100px;
    border:1px solid #aaa;
    display:none;
    .drag-bar{
      height:20px;
      width:100%;
      padding:2px;
      border-bottom:1px solid #606060;
      background-color:#224;
    }
    .speed-set-tool{
      margin:5px;
    }
    .speed-confirm-btn{
      width:20px;
      height:20px;
      border:1px solid #000;
      border-radius: 50%;
      background-color: #0086B3;
    }
    .current-speed{
      background-color: #000;
      display: inline-block;
      padding:3px;
      width:70px;
      height:22px;
    }
    .pump-start-btn,.pump-stop-btn{
      background-color: #0086B3;
      width:40%;
      margin-left:5%;
      margin-top:8px;
    }
  }
  .pump-controll-pannel.active{
    display:block;

  }
}