*{
  margin:0;
  padding:0;
  font-size: 12px;
  box-sizing: border-box;
  color: @white-color;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
.lf{
  float: left;
}
.rt{
  float:right;
}
