* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
  color: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.close {
  float: right;
  border-radius: 50%;
  padding: 0 4px;
}
.close:active {
  background-color: #0000FF;
}
output {
  background-color: #000;
  display: inline-block;
}
.TK61-PS {
  top: 300px;
  left: 300px;
}
.freshwaterPump {
  top: 100px;
  left: 50px;
}
.fueloilPump {
  top: 300px;
  left: 50px;
}
.title-tag {
  width: 260px;
  background-color: #00275D;
  height: 40px;
  border: 1px solid #aaa;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: #c0c0c0;
  font-size: 16px;
  position: relative;
  top: 3px;
  left: 3px;
}
.back-ahead {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
.back-ahead .border {
  border: 2px solid #606060;
  padding: 5px;
}
.back-ahead .border:hover {
  background-color: #aaa;
}
.back-ahead .border:active {
  background-color: #00275D;
}
.back-ahead .back {
  border: 2px solid #606060;
  padding: 5px;
  padding-right: 10px;
}
.back-ahead .back:hover {
  background-color: #aaa;
}
.back-ahead .back:active {
  background-color: #00275D;
}
.back-ahead .ahead {
  border: 2px solid #606060;
  padding: 5px;
  padding-left: 10px;
}
.back-ahead .ahead:hover {
  background-color: #aaa;
}
.back-ahead .ahead:active {
  background-color: #00275D;
}
.tank {
  display: inline-block;
  padding: 3px;
  width: 115px;
  height: 115px;
  border: 2px solid #000;
  background-color: #A0A0A0;
  position: absolute;
}
.tank .tank-number {
  padding: 2px;
  border-bottom: 1px solid #000;
  background-color: #606060;
}
.tank .xx {
  padding: 2px;
  border-bottom: 1px solid #000;
  background-color: #606060;
}
.tank .capacity-detail .capacity-item {
  margin: 3px 0;
}
.tank .capacity-detail .capacity-item span {
  display: inline-block;
  width: 80%;
  background-color: #000;
  text-align: right;
  padding-right: 5px;
  color: #00C000;
}
.tank .capacity-detail .capacity-item .height-level,
.tank .capacity-detail .capacity-item .low-level,
.tank .capacity-detail .capacity-item .is-alarm {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.tank .capacity-detail .capacity-item .is-alarm {
  border-radius: 0;
}
.tank .capacity-detail .capacity-item .height-level.active,
.tank .capacity-detail .capacity-item .low-level.active,
.tank .capacity-detail .capacity-item .is-alarm.active {
  background-color: #f00;
}
.pump-control-pannel {
  position: absolute;
  width: 250px;
  height: 100px;
  border: 1px solid #aaa;
  display: none;
}
.pump-control-pannel .drag-bar {
  height: 20px;
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid #606060;
  background-color: #224;
}
.pump-control-pannel .speed-set-tool {
  margin: 5px;
}
.pump-control-pannel .current-speed {
  background-color: #000;
  display: inline-block;
  padding: 3px;
  width: 70px;
  height: 22px;
}
.pump-control-pannel .pump-start-btn,
.pump-control-pannel .pump-stop-btn {
  background-color: #0086B3;
  width: 40%;
  margin-left: 5%;
  margin-top: 8px;
}
.pump-control-pannel.active {
  display: block;
}
.pump-component {
  position: absolute;
}
.level-alarm {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: red;
}
.level-alarm .cut-line {
  height: 0;
  width: 100%;
  margin-top: 50%;
  border: 1px solid #fff;
}
.ias {
  width: 1600px;
  height: 1200px;
  background-color: #00275D;
}
.ias .head {
  width: 100%;
  height: 50px;
}
.ias .head .header-border {
  border: 1px solid #606060;
}
.ias .head .headerItem {
  float: left;
}
.ias .head .logo {
  width: 176px;
  padding-top: 14px ;
  text-align: center;
}
.ias .head .displaybar-menu {
  width: 960px;
}
.ias .head .displaybar-menu .displaybar {
  height: 22px;
  background-color: #000;
  border: 1px solid #606060;
  margin-bottom: 3px;
  padding-left: 10px;
  color: #f00;
}
.ias .head .displaybar-menu .category-item {
  float: left;
  position: relative;
  height: 24px;
  border: 1px solid #606060;
  width: 120px;
  text-align: center;
}
.ias .head .displaybar-menu .category-item:hover {
  border-color: #fff;
}
.ias .head .displaybar-menu .category-item .category-item-name {
  display: block;
  width: 100%;
  line-height: 21px;
}
.ias .head .displaybar-menu .category-item .system-items {
  width: 190px;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #00275D;
  z-index: 1000;
}
.ias .head .displaybar-menu .category-item .system-item {
  border: 2px solid transparent;
  margin-bottom: 5px;
  padding-left: 8px;
}
.ias .head .displaybar-menu .category-item .system-item:hover {
  border-color: #fff;
}
.ias .head .displaybar-menu .system-items {
  display: none;
  text-align: left;
  border: 2px solid #000;
}
.ias .head .displaybar-menu .system-items.active {
  display: block;
}
.ias .head .alarms {
  border: 1px solid #606060;
  height: 50px;
  width: 112px;
  background-color: #f00;
  line-height: 25px;
}
.ias .head .alarms .alarm-count {
  width: 70%;
  text-align: center;
}
.ias .head .alarms .alarm-select {
  position: relative;
  width: 30%;
  height: 100%;
  border: 2px solid transparent;
}
.ias .head .alarms .alarm-select .alarm-select-head {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ias .head .alarms .alarm-select:hover {
  border-color: #fff;
}
.ias .head .alarms .alarm-select .alarm-items {
  position: absolute;
  background-color: #00275D;
  top: 110%;
  right: -3px;
  width: 112px;
  display: none;
  border: 2px solid #000;
}
.ias .head .alarms .alarm-select .alarm-items .alarm-item {
  padding-left: 8px;
  border: 1px solid transparent;
}
.ias .head .alarms .alarm-select .alarm-items .alarm-item:hover {
  border-color: #fff;
}
.ias .head .alarms .alarm-select .alarm-items.active {
  display: block;
}
.ias .head .silence {
  border: 1px solid #606060;
  padding: 0 3px;
  text-align: center;
  height: 100%;
  width: 112px;
}
.ias .head .silence .silence-btn {
  height: 30px;
  line-height: 40px;
  font-size: 16px;
}
.ias .head .silence .EB-select {
  height: 20px;
}
.ias .head .time-design {
  margin-left: 2px;
  width: 224px;
}
.ias .head .time-design .td-com {
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.ias .head .time-design .system-time {
  border: 1px solid #606060;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 2px;
}
.ias .head .time-design .design {
  border: 1px solid #606060;
  background-color: #00c000;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.ias .main-window {
  width: 96%;
  height: 1090px;
  margin: 6px auto;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
  background-color: #404040;
}
.ias .foot {
  width: 100%;
  height: 60px;
}
