<div class="pump-control-pannel">
    <div class="drag-bar">
        <a href class="close">X</a>
    </div>
    <div class="controll-items">
        <ul>
            <li>
                <input class="speed-set-tool" type="range">
                <output class="current-speed">{{speed}}rpm</output>
            </li>
            <li pump-name="{{pumpName}}">
                <button type="button" class="pump-start-btn">启动</button>
                <button type="button" class="pump-stop-btn">停止</button>
            </li>
        </ul>
    </div>
</div>