<div class="tank">
    <h4 class="tank-number">{{tankName}}</h4>
    <p class="xx">[0]</p>
    <ul class="capacity-detail">
        <li class="capacity-item capacity-percent">
            <span>{{persent}}</span>
            <i class="height-level"></i>
        </li>
        <li class="capacity-item capacity-volume">
            <span>{{volume}} ^m</span>
            <i class="is-alarm"></i>
        </li>
        <li class="capacity-item capacity-quality">
            <span>{{quality}} t/^m</span>
            <i class="level-in low-level"></i>
        </li>
    </ul>
</div>