<ias-tpl sys-name="Bilge"></ias-tpl>

<ias-pump-component si="80" l-r="{{pumpMessage['ballastdrillPump'].isRemote}}"
                    is-r="{{pumpMessage['ballastdrillPump'].isRunning}}" sp="{{pumpMessage['ballastdrillPump'].currentSpeed}}"
                    pump-name="{{pumpMessage['ballastdrillPump'].pumpName}}">
</ias-pump-component>

<ias-tank-message class="TK61-PS" tank-name="{{tankMessage['TK61(PS)'].tankName}}" persent="0%" volume="{{tankMessage['TK61(PS)'].currentVolumn}}" quality="0">
</ias-tank-message>