<div>test1test1test1test1test1test1test1test1</div>
<h1>自定义指令测试(元素):</h1>
<ias-hello></ias-hello>
<h1>自定义指令测试(属性):</h1>
<div ias-hello></div>
<h1>自定义指令测试(class):</h1>
<div class="ias-hello"></div>
<h1>自定义指令测试(注释):</h1>
<!--directive:ias-hello-->
<h1>自定义指令测试(带参数):</h1>
<ias-hello test-name="test"></ias-hello>
<p ng-controller="myController">
    <input type="text" ng-model="content">
    <div my-directive="content"></div>{{content}}
</p>
<ias-tpl sys-name="Ballast&Drillw"></ias-tpl>
<ias-tank-message class="TK61-PS" tank-name="{{tankMessage['TK61(PS)'].tankName}}" persent="0%" volume="{{tankMessage['TK61(PS)'].currentVolumn}}" quality="0">
</ias-tank-message>
<h2>色块指令测试：</h2>
<ias-color-block wi="50" he="4" color="#000"></ias-color-block>
<ias-color-block wi="30" he="10" color="red"></ias-color-block>

<h2>泵指令测试</h2>
<ias-pump-body size="50" local-remote="#00f" is-running="green"></ias-pump-body>
<ias-pump-body size="100" local-remote="#fff" is-running="#fff"></ias-pump-body>

<h2>泵控制板指令测试</h2>
<ias-pump-control-pannel speed="1200"></ias-pump-control-pannel>
<h2>完整泵指令测试{{pumpMessage['ballastdrillPump'].isRemote}}{{pumpMessage['ballastdrillPump'].currentSpeed}}</h2>
<ias-pump-component si="40" l-r="{{pumpMessage['ballastdrillPump'].isRemote}}"
                    is-r="{{pumpMessage['ballastdrillPump'].isRunning}}" sp="{{pumpMessage['ballastdrillPump'].currentSpeed}}"
                    pump-name="{{pumpMessage['ballastdrillPump'].pumpName}}">
</ias-pump-component>

<ias-pump-component si="80" l-r="{{pumpMessage['freshwaterPump'].isRemote}}"
                    is-r="{{pumpMessage['freshwaterPump'].isRunning}}" sp="{{pumpMessage['ballastdrillPump'].currentSpeed}}"
                    pump-name="{{pumpMessage['freshwaterPump'].pumpName}}">
</ias-pump-component>
<h2>液位高报警{{alarmMessage['bilge_001'].alarmClass}}</h2>
<ias-level-alarm
        alarm-class="{{alarmMessage['bilge_001'].alarmClass}}"
        alarm-name="bilge_001">
</ias-level-alarm>

<!--&lt;!&ndash;//泵组件指令&ndash;&gt;-->
<!--<div class="pump-component">-->
    <!--<div class="pressure-display">-->
        <!--<output class="suction-pressure">-0.09MPa</output>-->
        <!--<output class="discharge-pressure">0.35MPa</output>-->
    <!--</div>-->
<!--</div>-->
